.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar{
  background-color:rgba(0,0,0.5,0.5);
  color: black;
}

#item a:hover{
background-color: white;
transition: 0.5;

}

#item a{
  color: black;
  font-family: cursive;
  height:inherit;
}

#btn{
  background-color:rgba(25, 25, 160, 0.5)
  
  
}

#hov a :hover {
  background-color: aqua;
  transition: 0.5s;
  color: black;
}

.tej{
  display: flex ;
  flex-direction: column;
}

